<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
    <title>CBConverter</title>
</head>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Выйти"/>
</form>
<div class="wrapper">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <a href="/converter">Назад к конвертеру</a>
</div>

<body>
<div align="center">
    <form method="post" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="Date" name="date">
        <button type="submit">Найти</button>
    </form>
    <p></p>
</div>
</form>
<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
<table align="center">
    <tr>
        <th>Исходная валюта</th>
        <th>Целевая валюта</th>
        <th>Исходная сумма</th>
        <th>Получаемая сумма</th>
        <th>Дата</th>
    </tr>
    {{#histories}}
        <tr>
            <td>{{ORIGINAL_currency}}</td>
            <td>{{TARGET_CURRENCY}}</td>
            <td>{{AMOUNT_RECEIVED}}</td>
            <td>{{TOTAL_AMOUNT}}</td>
            <td>
                <output typeof="date">{{DATE}}</output>
            </td>
        </tr>
    {{/histories}}
</table>

</body>
</html>