<html>
<head>
    <title>CBConverter</title>
</head>
<body>
<p></p>
<h1><p align="center">Добро пожаловать!</p></h1>
<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
<div align="center">
    <a href="/converter">Перейти к конвертеру</a>
</div>
</body>
</html>