<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CBConverter</title>
</head>
<!--Сделать обработку ошибок-->
<body>
<h1><p align="center">Страница регистрации</p></h1>
<form action="/registration" method="post">

    <div><p align="center"><label> <input type="text" name="name" placeholder="Логин"/> </label></p></div>
    <div><p align="center"><label> <input type="password" name="password" placeholder="Пароль"/> </label></p></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><p align="center"><input type="submit" value="Зарегистрироваться"/></p></div>

</form>
</body>
</html>